<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDosVaNXSyBHVOpnIHfWeFtRIa8NESg5AU</string>
	<key>GCM_SENDER_ID</key>
	<string>795535286774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cafecomswift.FirebaseInfiniteScroll</string>
	<key>PROJECT_ID</key>
	<string>fir-infinitescroll-3d445</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-infinitescroll-3d445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795535286774:ios:2fae28f7a8ce07acd967d7</string>
</dict>
</plist>